body {
  background-color: black;
  color: white;
}
button {
  background:rgb(83, 80, 80);
  border:none;
  width: 60px;
  height: 60px;
  color:white;
  border-radius: 30px;
  text-align:center;
  font-size: 30px;
}
.orange-btn {
  background-color: orange;
}
.output {
  font-size: 60px;
  margin: 0 0 0 20px;
}
.clear-btn {
  font-size: 17px;
}